@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Roboto Flex', 'Fira Sans', 'Inter',  sans-serif;
}


/* SKILSS */
/* Animación base */
@keyframes orbit {
  0%   { right: -10%; transform: translateY(-100%) }
  50%  { right: 110%; transform: translateY(50%) }
  100% { right: -10%; transform: translateY(110%) }
}

/* Segunda animación con un pequeño desfase vertical */
@keyframes orbit-alt {
  0%   { right: -100%; transform: translateY(50%) }
  50%  { right: 110%; transform: translateY(50%) }
  100% { right: -100%; transform: translateY(50%) }
}

.animate-orbit {
  animation: orbit 9s ease-in-out infinite;
}

.animate-orbit-alt {
  animation: orbit-alt 9s ease-in-out infinite;
}


/* DARK-MODE */
body {
  background-color: white;
}

.dark body {
  background-color: black;
}
